.about {
  &-info {
    display: grid;
    grid-template-areas:
      'bioImage bio bio'
      'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  &-image {
    width: 250px;
    height: 250px;
    grid-area: bioImage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $color-secondary;
  }
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.job-card {
  background: lighten($color-primary, 5);
  padding: 0.5rem;
  border-bottom: $color-secondary 3px solid;
}
.job-1 {
  grid-area: job1;
}
.job-2 {
  grid-area: job2;
}
.job-3 {
  grid-area: job3;
}
