////////////
// HEADINGS
h1,
h2,
h3 {
  margin: 0;
  font-weight: 300;
  &.heading {
    &-lg {
      font-size: 6rem;
    }
    &-sm {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(lighten($color-primary, 2), 0.5);
    }
  }
}

a {
  color: set-text-color($color-primary);
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $color-secondary;
}
.text-red{
  color: $color-red;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);


  &#home{
      h1{
          margin-top: 20vh;
      }
  }

  .svg-icons {
    margin-top: 2rem;
    .icon{
      width: $svg-icon-size;
      height: $svg-icon-size;

    }
    a {
      padding: 0.4rem;
      &:hover {
        color: $color-secondary;
        @include easeOut();
      }
    }
  }
}
.footer-main{
text-align: center;
font-size: 1.5rem;
color: set-text-color($color-primary);
}


